/*
Syntax error: Undefined variable: "$base-link-color".
        on line 62 of _sass/_type.scss
        from line 8 of _sass/i.scss

Backtrace:
_sass/_type.scss:62
_sass/i.scss:8
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/script/tree/node.rb:50:in `perform'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:121:in `with_frame'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `with_base'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:121:in `with_frame'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `with_base'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:121:in `with_frame'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:88:in `with_import'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:121:in `with_frame'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/stack.rb:79:in `with_base'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/engine.rb:274:in `render'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:190:in `block in update_stylesheets'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:187:in `each'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:187:in `update_stylesheets'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/sass-3.3.0.rc.5/lib/sass/plugin/compiler.rb:275:in `block in watch'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/listen-2.5.0/lib/listen/listener.rb:151:in `call'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/listen-2.5.0/lib/listen/listener.rb:151:in `block in _wait_for_changes'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/listen-2.5.0/lib/listen/listener.rb:146:in `loop'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/listen-2.5.0/lib/listen/listener.rb:146:in `_wait_for_changes'
/Users/ct/.rvm/gems/ruby-2.1.0/gems/listen-2.5.0/lib/listen/listener.rb:44:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$base-link-color\".\A         on line 62 of _sass/_type.scss\A         from line 8 of _sass/i.scss"; }
