/** * 16 as roots then powers of two. */
/* Neutrals */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@-moz-keyframes textglow {
  from {
    text-shadow: 0 0 9px red;
    color: red; }

  to {
    text-shadow: 0 0 19px pink;
    color: pink; } }
@-webkit-keyframes textglow {
  from {
    text-shadow: 0 0 9px red;
    color: red; }

  to {
    text-shadow: 0 0 19px pink;
    color: pink; } }
@-o-keyframes textglow {
  from {
    text-shadow: 0 0 9px red;
    color: red; }

  to {
    text-shadow: 0 0 19px pink;
    color: pink; } }
@-ms-keyframes textglow {
  from {
    text-shadow: 0 0 9px red;
    color: red; }

  to {
    text-shadow: 0 0 19px pink;
    color: pink; } }
@-khtml-keyframes textglow {
  from {
    text-shadow: 0 0 9px red;
    color: red; }

  to {
    text-shadow: 0 0 19px pink;
    color: pink; } }
@keyframes textglow {
  from {
    text-shadow: 0 0 9px red;
    color: red; }

  to {
    text-shadow: 0 0 19px pink;
    color: pink; } }
@-moz-keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 8px); }

  100% {
    -webkit-transform: translate(0, 0); } }
@-webkit-keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 8px); }

  100% {
    -webkit-transform: translate(0, 0); } }
@-o-keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 8px); }

  100% {
    -webkit-transform: translate(0, 0); } }
@-ms-keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 8px); }

  100% {
    -webkit-transform: translate(0, 0); } }
@-khtml-keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 8px); }

  100% {
    -webkit-transform: translate(0, 0); } }
@keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 8px); }

  100% {
    -webkit-transform: translate(0, 0); } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, .h1, h2, .h2, .block-1 h1, .block-2 h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Effra", "Arial", sans-serif; }

h1, .h1 {
  font-size: 3em;
  line-height: 1.125em;
  margin-bottom: .375em; }

h2, .h2, .block-1 h1, .block-2 h2 {
  font-size: 2.25em;
  line-height: 1.333333333333em;
  margin-bottom: .666666666em; }

h3, .h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em; }

h4, .h4 {
  font-size: 1.3125em;
  line-height: 1.142857142857143em;
  margin-bottom: 1.142857142857143em; }

h5, .h5 {
  font-size: 1.125em;
  line-height: 1.3333333333333em;
  margin-bottom: 1.333333333333333em; }

h6, .h6 {
  font-size: 1em;
  line-height: 24px; }

p {
  font-size: 1.3125em;
  line-height: 1.5em; }

blockquote {
  font-style: italic; }

small {
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase; }

/* Copy
   ========================================================================== */
/* Casing
   ========================================================================== */
header[role="main-header"] hgroup, .post .description .label, footer small {
  text-transform: uppercase; }

/* Tracking
   ========================================================================== */
/* Alignment
   ========================================================================== */
/* Wrapping
   ========================================================================== */
/* Leading
   ========================================================================== */
p + p {
  margin-top: 24px; }

article p ~ h2, article p ~ h3, article p ~ h4, article p ~ h5 {
  margin-top: 48px; }
  article p ~ h2:first-of-type, article p ~ h3:first-of-type, article p ~ h4:first-of-type, article p ~ h5:first-of-type {
    margin-top: 24px; }

/* Article Headings
   ========================================================================== */
.post article h1, .post article .h1, .post article h2, .post article .h2, .post article .block-1 h1, .block-1 .post article h1, .post article .block-2 h2, .block-2 .post article h2, .post article h3, .post article .h3, .post article h4, .post article .h4, .post article h5, .post article .h5 {
  font-weight: bold; }

#tooltip {
  text-align: center;
  color: #fefefe;
  background: #453939;
  position: absolute;
  z-index: 100;
  padding: 1em; }
  #tooltip:after {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #453939;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -16px;
    margin-left: -16px; }
  #tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #453939;
    top: -20px;
    bottom: auto; }
  #tooltip.left:after {
    left: 10px;
    margin: 0; }
  #tooltip.right:after {
    right: 10px;
    margin: 0;
    left: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  height: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important; }

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #fefefe;
  font-family: "Effra", "Arial", sans-serif;
  color: #453939;
  text-size-adjust: 100%;
  overflow-x: hidden !important; }

a {
  text-decoration: none;
  color: #0074d9; }

hr {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  border: none;
  background: #dcd4d4;
  margin-bottom: 2em; }

.block-3 article .work-block h1, footer small {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Site Architecture */
.wrap, header[role="main-header"] nav, .block-1 article, .block-2 article, .listing article header, .listing .work-listing h1 {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .wrap:after, header[role="main-header"] nav:after, .block-1 article:after, .block-2 article:after, .listing article header:after, .listing .work-listing h1:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    .wrap, header[role="main-header"] nav, .block-1 article, .block-2 article, .listing article header, .listing .work-listing h1 {
      padding: 0 1rem; } }

.full, footer {
  width: 100%;
  min-height: 1px;
  display: block; }
  .full:after, footer:after {
    content: "";
    display: table;
    clear: both; }

.page-wrap {
  min-height: 100%;
  background: #fefefe;
  margin-bottom: -4em; }
  .page-wrap:after {
    content: "";
    display: table;
    clear: both; }
  .page-wrap:after {
    height: 4em; }

header[role="main-header"] {
  padding: 1em 0;
  font-family: "Effra", "Arial", sans-serif;
  width: 100%;
  z-index: 5000;
  color: #453939;
  font-weight: 500;
  position: relative;
  -moz-box-shadow: 0px 1px 0px 0px rgba(243, 243, 243, 0.5);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(243, 243, 243, 0.5);
  box-shadow: 0px 1px 0px 0px rgba(243, 243, 243, 0.5); }
  header[role="main-header"] #toggle {
    display: none; }
    @media screen and (min-width: 641px) {
      header[role="main-header"] #toggle {
        display: none; } }
  header[role="main-header"] hgroup {
    font-size: .75rem;
    font-family: "Effra", "Arial", sans-serif;
    letter-spacing: 2px;
    float: left;
    position: relative;
    top: 4px; }
    header[role="main-header"] hgroup a {
      height: 2rem;
      position: relative; }
      header[role="main-header"] hgroup a img {
        height: 2rem;
        width: auto; }
  header[role="main-header"] a {
    color: #453939;
    -webkit-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    header[role="main-header"] a:hover {
      color: #ec6f66;
      -webkit-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -moz-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  header[role="main-header"] nav {
    display: block;
    position: relative; }
    @media screen and (min-width: 641px) {
      header[role="main-header"] nav {
        padding: 1em; } }
    header[role="main-header"] nav ul {
      float: right;
      margin-bottom: 0;
      margin-top: 0; }
    header[role="main-header"] nav ul li {
      font-size: .75rem;
      font-family: "Effra", "Arial", sans-serif;
      letter-spacing: 2px;
      text-align: right;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      margin-left: 2.5em; }
      header[role="main-header"] nav ul li:first-child {
        margin-left: 0; }
      header[role="main-header"] nav ul li a {
        -webkit-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -moz-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
        header[role="main-header"] nav ul li a:hover {
          color: #ec6f66;
          -webkit-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          -moz-transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95); }

section[class*="block-"] {
  min-height: 28em;
  position: relative;
  overflow: hidden; }

.block-1 {
  margin-top: 6em;
  background: #fefefe; }
  .block-1 article {
    float: none;
    padding: 4em 0;
    position: relative;
    height: 100%; }
  .block-1 img {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    height: auto; }
    .block-1 img:last-child {
      margin-right: 0; }
  .block-1 h1 {
    margin-left: 12.76596%;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 61.70213%;
    margin-right: 0;
    margin-top: 1em; }
    .block-1 h1:last-child {
      margin-right: 0; }

.block-2 {
  background: #ec6f66;
  position: relative;
  z-index: 1; }
  .block-2 article {
    float: none;
    padding: 4em 0;
    position: relative;
    height: 100%; }
  .block-2 .hide-code {
    position: relative;
    height: 32em; }
  .block-2 h2 {
    position: relative;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    z-index: 100;
    text-align: left;
    font-weight: 400;
    color: #fefefe;
    margin-top: 4em; }
    .block-2 h2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .block-2 h2 {
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 73.91304%;
        margin-left: 13.04348%; }
        .block-2 h2:last-child {
          margin-right: 0; } }
    .block-2 h2 a {
      color: #fefefe;
      padding-bottom: 8px; }
      .block-2 h2 a:hover:after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
      .block-2 h2 a:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgba(255, 255, 255, 0.8);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px); }
  .block-2 article img {
    position: absolute;
    height: 45em;
    right: -50%;
    z-index: 2;
    top: 2em;
    box-shadow: -10px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .block-2 article img:hover {
      -webkit-animation: hovering 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -moz-animation: hovering 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation: hovering 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
    @media only screen and (max-width: 640px) {
      .block-2 article img {
        display: none; } }

.hide-code #arrow {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 16px;
  border-top-color: white;
  position: absolute;
  bottom: 2em;
  left: 20%;
  -webkit-animation: hovering 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: hovering 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: hovering 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 16;
  -moz-animation-iteration-count: 16;
  animation-iteration-count: 16; }
  @media screen and (max-width: 480px) {
    .hide-code #arrow {
      left: 48%; } }

.block-3 {
  z-index: 100;
  background: #fefefe; }
  .block-3 article {
    padding-top: 2em;
    position: relative;
    height: 100%; }
  .block-3 article ul {
    list-style: none;
    list-style-type: none; }
  .block-3 article .work-block {
    margin-bottom: 2em;
    background: #dcd4d4;
    position: relative;
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    height: 16em; }
    .block-3 article .work-block:last-child {
      margin-right: 0; }
    .block-3 article .work-block:nth-child(3n) {
      margin-right: 0; }
    .block-3 article .work-block:nth-child(3n+1) {
      clear: left; }
    @media screen and (max-width: 767px) {
      .block-3 article .work-block {
        height: 12em; } }
    @media screen and (max-width: 480px) {
      .block-3 article .work-block {
        height: 12em;
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 100%;
        margin-bottom: 0; }
        .block-3 article .work-block:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 960px) {
      .block-3 article .work-block {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 31.91404%;
        height: 24em; }
        .block-3 article .work-block:last-child {
          margin-right: 0; }
        .block-3 article .work-block:nth-child(3n) {
          margin-right: 0; }
        .block-3 article .work-block:nth-child(3n+1) {
          clear: left; } }
    .block-3 article .work-block a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      color: #fefefe;
      -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .block-3 article .work-block a:hover {
        background: #fefefe;
        color: #453939;
        -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .block-3 article .work-block h1 {
      display: block;
      margin: 0;
      font-size: 1.5em;
      font-family: "Effra", "Arial", sans-serif;
      font-weight: 600; }

.wrap article > header {
  margin-top: 4em; }

.post header.bg-img {
  vertical-align: middle;
  min-height: 25em;
  height: 50vh;
  width: 100%;
  max-height: 50em;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  height: 24em;
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08), inset 0 -2px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08), inset 0 -2px 0 rgba(0, 0, 0, 0.08); }
.post .description {
  font-size: 1.125em;
  color: #ae9c9c;
  font-family: "Effra", "Arial", sans-serif; }
  .post .description div {
    margin-bottom: 1rem; }
  .post .description .label {
    font-size: 1rem;
    color: #dcd4d4;
    letter-spacing: 2px;
    font-weight: 500; }
  .post .description .tag {
    color: #ae9c9c;
    padding-left: 10px;
    position: relative;
    text-transform: capitalize; }
    .post .description .tag:after {
      content: ",";
      position: absolute;
      right: -6px;
      color: #ae9c9c; }
    .post .description .tag:first-of-type {
      padding-left: 0; }
    .post .description .tag:last-of-type:after {
      content: ""; }
.post article {
  margin-bottom: 4em;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 87.23404%;
  margin-left: 6.38298%;
  font-family: "Born", "Comic Sans"; }
  .post article:last-child {
    margin-right: 0; }
  .post article h1 {
    font-family: "Effra", "Arial", sans-serif;
    font-size: 3em;
    font-weight: bold; }
  .post article h2, .post article h3, .post article h4, .post article h5 {
    font-family: "Effra", "Arial", sans-serif; }
  .post article header {
    margin: 4em 0; }
  .post article img {
    display: block;
    margin: 1em auto;
    width: auto;
    max-width: 100%;
    height: auto; }
  .post article figure {
    margin: 2em auto; }
    .post article figure.web {
      margin-top: 4em;
      border: 1px solid #dcd4d4;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 30em;
      overflow-y: scroll;
      position: relative;
      -webkit-box-shadow: 0 -2em 0 #dcd4d4;
      box-shadow: 0 -2em 0 #dcd4d4; }
    .post article figure.iphone {
      width: 328px;
      height: 42.5em;
      border: 1px solid #dcd4d4;
      border-top-left-radius: 2em;
      border-top-right-radius: 2em;
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em;
      padding: 4em 1em;
      padding-bottom: 6em;
      position: relative; }
      .post article figure.iphone:after {
        content: '';
        position: absolute;
        width: 3em;
        height: 3em;
        -webkit-border-radius: 1.5em;
        border-radius: 1.5em;
        border: 1px solid #dcd4d4;
        left: 8.75em;
        bottom: 1.5em; }
      .post article figure.iphone img {
        border: 1px solid #dcd4d4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
    .post article figure img {
      margin: 0 auto; }
  .post article blockquote {
    margin: 24px 2em;
    margin-left: 4em;
    line-height: 1.625em;
    position: relative; }
    .post article blockquote:after {
      content: '';
      position: absolute;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 2em;
      top: 50%;
      left: -48px;
      height: 1px;
      background: #dcd4d4; }
    .post article blockquote:before {
      content: '';
      position: absolute;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 2em;
      top: 50%;
      left: -48px;
      height: 1px;
      background: #dcd4d4; }
  .post article ul {
    list-style-type: disc;
    list-style: disc;
    padding-left: 2em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em; }
    .post article ul li {
      font-size: 1.25em;
      line-height: 1.5em;
      padding-left: .25em;
      margin-top: .5em; }

.listing article {
  margin-bottom: 0; }
  .listing article header {
    margin: 4em auto; }
.listing .work-listing {
  list-style-type: none;
  list-style: none;
  text-align: center; }
  .listing .work-listing li {
    list-style-type: none;
    list-style-type: none;
    background: #dcd4d4; }
    .listing .work-listing li:first-of-type {
      background: #fefefe;
      color: #453939;
      width: 100%;
      height: 100%;
      display: block;
      padding: 4em;
      position: relative;
      text-transform: capitalize; }
  .listing .work-listing h1 {
    font-size: 3em;
    font-family: "Effra", "Arial", sans-serif;
    font-weight: bold;
    font-variant: normal;
    display: block;
    max-width: 800px;
    margin: 0 auto; }
  .listing .work-listing a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 4em;
    position: relative;
    color: #fefefe;
    -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .listing .work-listing a:hover {
      background: #fefefe;
      color: #453939;
      -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

footer {
  text-align: center;
  padding: 1em 0;
  width: 100%;
  height: 4em;
  background: #232830;
  position: relative;
  color: #fefefe; }
  footer small {
    display: block;
    color: #fefefe;
    opacity: .2; }

/*! responsive-nav.js 1.0.25 by @viljamis */
/** * 16 as roots then powers of two. */
/* Neutrals */
@media screen and (max-width: 640px) {
  header[role="main-header"] #toggle {
    padding: .1em;
    margin-bottom: .375em;
    font-size: 3em;
    font-weight: bold;
    text-align: right;
    width: 100%;
    display: block;
    color: #85144b; }
    header[role="main-header"] #toggle.open a {
      color: #85144b; }
    header[role="main-header"] #toggle.closed a {
      color: #39cccc; }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: relative;
    display: block;
    overflow: hidden;
    zoom: 1; }

  .nav-collapse.opened {
    max-height: 9999px; }

  header[role="main-header"] .nav-collapse {
    width: 100%;
    position: relative;
    text-align: center;
    background: white; }
    header[role="main-header"] .nav-collapse ul {
      width: 100%; }
    header[role="main-header"] .nav-collapse ul li {
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      position: relative;
      margin-left: 0;
      text-align: center;
      padding-bottom: 1em;
      width: 100%; }
      header[role="main-header"] .nav-collapse ul li a {
        width: 100%;
        padding: 0 40%; }

  .nav-collapse.disable-pointer-events {
    pointer-events: none !important; }

  .nav-toggle {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }

  .nav-collapse hgroup {
    display: none; } }
