// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "europa", "Futura", "Helvetica Neue", sans-serif;
$serif: "Born", "Georgia", serif;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif;
$head: $header-font-family;
$body: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: em(16px);
$base-line-height: em(28px);
$base-border-radius: em(2);
$border-radius: $base-border-radius;

// Colors
///////////////////////////////////////////////////////////////////////////////

// Colors
///////////////////////////////////////////////////////////////////////////////

// Cool

$purple: #6F4993;
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$blue-black: #282e42;
$teal:  #39CCCC;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$fuchsia: #F012BE;
$maroon:  #85144B;
$red: #EC6F66;

// Ebony and Ivory
$black:  #453939;
$white: #fefefe;

// Bitters
$real-black: #232830;
$dark-gray: lighten($black, 20%);
$medium-gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

/* Neutrals */
$off-white: darken(#ffffff, 1%);

// Body Color
$base-body-color: $off-white;

//  Font Colors
$base-font-color: $black;
$base-accent-color: $red;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// SCSS variables
// ---------------------------------------

// Breakpoint sizes in ems. Note: not relative to root font-size.
$break-0: 0;                          // Mobile first yo
$break-1: (640 / 16) * 1em;           // 640px   -  Small tablet up
$break-2: (800 / 16) * 1em;           // 800px   -  Large tablet up
$break-3: (1024 / 16) * 1em;          // 1024px  -  Desktop up
$break-4: (1600 / 16) * 1em;          // 1600px  -  Large desktop up

// Root font-sizes. Set to half desired line-height of body text.
$rootsize-0: 12;                      // 24px line-height body text
$rootsize-1: 14;                      // 28px line-height body text
$rootsize-2: 15;                      // 30px line-height body text
$rootsize-3: 17;                      // 34px line-height body text
$rootsize-4: 18;                      // 36px line-height body text

// Control the line-length with max-width values for the container. Aim for 45-75 characters a line if possible, at smaller sizes type size is more important.
$maxwidth-0: #{500 / $rootsize-0}rem; // 500px wide
$maxwidth-1: #{520 / $rootsize-1}rem; // 520px wide
$maxwidth-2: #{550 / $rootsize-2}rem; // 550px wide
$maxwidth-3: #{620 / $rootsize-3}rem; // 620px wide
$maxwidth-4: #{700 / $rootsize-4}rem; // 700px wide

// Root font-size in %.
@mixin rootsize-0 { font-size: #{$rootsize-0 / 16 * 100%}; }
@mixin rootsize-1 { font-size: #{$rootsize-1 / 16 * 100%}; }
@mixin rootsize-2 { font-size: #{$rootsize-2 / 16 * 100%}; }
@mixin rootsize-3 { font-size: #{$rootsize-3 / 16 * 100%}; }
@mixin rootsize-4 { font-size: #{$rootsize-4 / 16 * 100%}; }

// Font-size in rems. Pixel fallbacks for full browser support.
@mixin fontsize-0($value) { font-size: #{$value / $rootsize-0}rem; }
@mixin fontsize-1($value) { font-size: #{$value / $rootsize-1}rem; }
@mixin fontsize-2($value) { font-size: #{$value / $rootsize-2}rem; }
@mixin fontsize-3($value) { font-size: #{$value / $rootsize-3}rem; }
@mixin fontsize-4($value) { font-size: #{$value / $rootsize-4}rem; }