<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> {{site.name}} </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <link type="application/atom+xml" rel="self" href="{{ site.url }}/sitemap.xml"/>

  <meta name="viewport" content="minimal-ui">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link data-no-instant rel="stylesheet" href="{{ site.url }}/css/i.css">
  <link data-no-instant rel="stylesheet" href="{{ site.url }}/fonts/cmu/font.css">
  
  {% for css_name in page.extra_css %}
    <link rel="stylesheet" href="{{ site.url }}{{ css_name }}">
  {% endfor %}
  
  <!-- Favicons and Touch Device Icons -->
  <link rel="shortcut icon" href="{{ site.url }}/images/assets/favicon.ico">
  <link data-no-instant rel="apple-touch-icon" href="{{ site.url }}/assets/favicon-128.png">
  <link data-no-instant rel="apple-touch-icon" sizes="72x72"   href="{{ site.url }}/images/assets/favicon-76.png">
  <link data-no-instant rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/assets/favicon-128.png">
  <link data-no-instant rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/images/assets/favicon-256.png">
</head>
