<script data-no-instant src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.url }}/javascripts/jquery.fluidbox.js"></script>

<!-- <script src="{{ site.url }}/javascripts/nav.js"></script> -->
<!-- Data Image -->
<!-- <script data-no-instant src="{{ site.url }}/javascripts/data-img.js"></script> -->
<!-- Typekit -->
<script data-no-instant type="text/javascript" src="//use.typekit.net/tke7dvp.js"></script>
<script data-no-instant type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script data-no-instant src="{{ site.url }}/javascripts/smooth-scroll.min.js"></script>

<script>
  $(document).ready(function() {
    $('a').smoothScroll();
    $('#top').smoothScroll({offset: 120});
  });
</script>

<script>
  $(function () {
    $('a[role="fluidbox"]').fluidbox();
  })
</script>

<script src="{{ site.url }}/javascripts/instantclick.js" data-no-instant></script>

<script data-no-instant>   
  InstantClick.init(55);
</script>
