<nav role="nav-alt">
  <div class="wrap">
    <a href="#" target="_blank">Home</a>
    <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>
  <div>

  <div id="navigation">
    <ul>
      <li><span>The man behind this site</span><a href="#" class="about" title="About me">About me</a></li>
      <li><span>Pretty things I made</span><a href="#" class="portfolio" title="My Portfolio">My Portfolio</a></li>
      <li><span>Cool stories I wrote</span><a href="#" class="blog" title="My Blog">My Blog</a></li>
      <li><span>Experiments I conducted</span><a href="#" class="labs" title="My Lab">My Lab</a></li>
      <li><span>Where you can find me</span><a href="#" class="contact" title="Contact Me">Contact Me</a></li>
    </ul>
  </div>
</nav>