// Mixin
@mixin keyframes($name) {
  @-moz-keyframes #{$name}    { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name}      { @content; }
  @-ms-keyframes #{$name}     { @content; }
  @-khtml-keyframes #{$name}  { @content; }
  @keyframes #{$name}         { @content; }
}
 
// Create the keyframes using the mixin
@include keyframes(textglow) {
  from { text-shadow: 0 0 9px red; color: red;}
    to { text-shadow: 0 0 19px pink; color: pink;}
}

@include keyframes(hovering) {
  0% {-webkit-transform:translate(0, 0); }
  50% {-webkit-transform:translate(0, 8px);}
  100% {-webkit-transform: translate(0, 0); }
}

%hovering {
    @include animation(hovering 3s $ease-in-out-quad);
    @include animation-delay(1.33s);
    @include animation-iteration-count(infinite);
}
