.fluidbox {
  outline: none;
}
<<<<<<< HEAD

.zoomIt {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

a[data-fluidbox] {
    background-color: #eee;
    border: none;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
=======
a[role="fluidbox"]{
  background-color: #eee;
  border: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  img {
    border: 1px solid $base-border-color;
  }
>>>>>>> dev
}
a[role="fluidbox"].fluidbox-opened {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  img {
    border: none;
    position: relative;
  }
}
a[class^='float'] {
  margin: 1.5rem;
  margin-top: 0;
  width: 33.33333%;
}
a.float-left {
  float: left;
  margin-left: 0;
}
a.float-right {
  float: right;
  margin-right: 0;
}

<<<<<<< HEAD
.fluidbox {
  outline: none;
}

.fluidbox-overlay, #fluidbox-overlay {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include transition(all .25s ease-in-out);
  
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  @include transition(all .25s ease-in-out);
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  @include transition(all .25s ease-in-out);
=======
a.center {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#fluidbox-overlay, .fluidbox-overlay {
  background-color: $blue-black;
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 500;
  @include transition(all .15s ease-in-out)
}
.fluidbox-wrap {
  background-position: center center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  @include transition(all .15s ease-in-out)
}
.fluidbox-opened .fluidbox-wrap {
  z-index: 600;
}
.fluidbox-ghost {
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  position: absolute;
  @include transition(all .25s ease-in-out)
  &:after {
      content: "Email address:";
      position: absolute;
      top: 0;
      right: 0;
      font-size: $fs1;
      color: $red;
    }
>>>>>>> dev
}