@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 80px;
$gutter: 16px;
$grid-columns: 8;
$max-width: em(768);

// Define your breakpoints
$large: new-breakpoint(min-width em(960) 8);
$medium: new-breakpoint(max-width em(759) 8);
$small: new-breakpoint(max-width em(520) 4);