// Home Page
section[class*="block-"] {
  min-height: 19em;
  position: relative;
  overflow: hidden;
  @include media($small) {
    min-height: 16em;
  }
}
// First Block
.block-1 {
  margin-top: $base-line-height*2;
  article {
    @extend %container;
    float: none;
    padding: 3em 0;
    position: relative;
    height: 100%;
    font-weight: 500;
    @include media($small) {
      padding: 0 1em;
    }
  }
  a {
    font-size: $fs5;
    color: $red;
    @include transition(color .2s $ease-in-out-quad);
    &:hover {
      color: $base-body-color;
      @include transition(color .2s $ease-in-out-quad);
    }
  }
  h1 {
    font-size: $fs3;
    margin-top: 1em;
    @include span-columns(8);
    @include media($medium) {
      font-size: $fs5;
    }
  p {
    @extend %h4;
    @if $head == '$ss-alt-head' {
      font-family: "GT Walsheim";
      font-weight: normal;
    }
  }
    @include media($small) {
      display: block;
      @include span-columns(4);
    }
  }
}

// Work Block
.block-2 {
  z-index: 100;
  @extend %container;
  padding-bottom: $base-line-height*2;
  @include media($small) {
    padding-bottom: 0;
    padding: 0;
    margin: 0;
  }
  article {
    position: relative;
    height: 100%;
  }
  article {
    ul {
      list-style: none;
      list-style-type: none;
    }
    .work-title {
      font-style: italic;
      color: $red;
      text-align: center;
      padding-bottom: $base-line-height;
      @include media($small) {
        display: block;
        margin-top: 0;
        padding-bottom: 1em;
        font-size: $fs5;
        text-align: center;
        letter-spacing: 2px;
        color: $red;
      }
    }
    .work-grid {
      margin-bottom: $base-line-height;
      background: $light-gray;
      position: relative;
      text-align: center; 
      z-index: 1;
      @include transition(all .2s $base-transition-timing);    
      @include span-columns(2.6666666);
      @include omega(3n);
      min-height: 12vw;
      // Small
      @include media($small) {
        margin-bottom: 0;
        @include span-columns(4);
        float: none;
        display: block;
        height: 6em;
      }
      // Medium
      @include media($medium) {
        height: 25vw;
        h1 {
          font-size: $fs6 !important;
        }
      }
      // Default
      @include media($default) {
        height: calc(680px/3);
        h1 {
          font-size: $fs6 !important;
        }
      }
      .colorize {
        opacity: .8;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 2;
      }
      .project {
        background-position: center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
      }      
      &:hover {
        @include transition(all .1s $base-transition-timing);
      }
      a {
        width: 100%;
        height: 100%;
        z-index: 10;
        display: block;
        position: absolute;
        color: $red;
        background: $white;
        // background: lighten($light-gray, 10%);
        border: 2px solid lighten($red, 8%);
        @include transition(all .2s $ease-in-out-quad);
        // Media
        @include media($small) {
          background: none;
          color: $white;
          border: none;
          text-shadow: 0 1px 1px rgba(0,0,0,.16);
        }
        &:hover {
          color: $white;
          text-shadow: 0 1px 1px rgba(0,0,0,.1);
          background:none;
          @include linear-gradient(to top, rgba(0,0,0,.02), rgba(0,0,0,0));
          border: none;
          @include transition(all .1s $ease-in-out-quad);
          @include media($small) {
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
          }
        }
      }
      h1 {
        display: block;
        margin: 0 auto;
        text-align: center;
        position: relative;
        max-width: 90%;
        font-size: $fs5;
        @extend %liga;
        font-weight: bold;
        @if $head == $ss-alt-head {
          font-weight: 500;
        }
        @extend %vertical-align;
      } 
    }
  }
}