.listing {
  background: $black;
  header[role="main-header"] {
    background: $black;
    a {
      color: $light-blue-gray;
    }
  }
  article {
    margin-bottom: 0;
    header {
      margin: $base-line-height*2 auto;
      margin-bottom: 1.5em;
      @extend %container;
    }
  }
  .work-listing {
    list-style-type: none;
    list-style: none;
    text-align: center;
    li {
      list-style-type: none;
      list-style-type: none;
      font-weight: normal;
      background: $light-gray;
      position: relative;
      position: relative;
      &:first-of-type {
        // -webkit-box-shadow: inset 0 -2px 0 $light-gray;
        //         box-shadow: inset 0 -2px 0 $light-gray;
        background: $black;
        color: $light-blue-gray;
        font-weight: 500;
        width: 100%;
        opacity: 1;
        height: 100%;
        display: block;
        padding: $base-line-height*2;
        position: relative;
        text-transform: capitalize;
      }
      .cross {
        position: relative;
        right: .5em;
        top: 1.5em;
        @include cross(top, 1em, $light-gray);
        @include transition(opacity .2s $ease-in-out-quad);
      }
    }
    h1 {
      font-size: $fs1;
      text-transform: capitalize;
      font-variant: normal;
      font-weight: normal;
      display: block;
      @extend %container;
      max-width: 800px;
      margin: 0 auto;
    }
    small {
      opacity: .33;
      font-family: $mono;
      font-weight: bold;
      text-align: center;
      @extend %caps-lock;
      letter-spacing: 0.08em;
      margin-top: $base-line-height;
    }
    a {
      width: 100%;
      height: 100%;
      z-index: 10;
      display: block;
      background: $white;
      color: $black;
      // background: lighten($light-gray, 10%);
      padding: $base-line-height*2;
      @include transition(all .2s $ease-in-out-quad);
      &:hover {
        color: $white;
        background: none;
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        @include transition(all .2s $ease-in-out-quad);
        small {
          opacity: .75;
          @include transition(opacity .2s $ease-in-out-quad);
        }
        .cross {
          opacity: 0;
          @include transition(opacity .2s $ease-in-out-quad);
        }
      }
    }
  }
}
