@mixin underline($background, $line-color) {
  background: -webkit-linear-gradient($background, $background), -webkit-linear-gradient($background, $background), -webkit-linear-gradient($line-color, $line-color);
  background-size: 0.04em 1px, 0.04em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.02em 0 $background, -0.02em 0 $background, 0 0.02em $background, 0 -0.04em $background, 0.08em 0 $background, -0.08em 0 $background, 0.08em 0 $background, -0.12em 0 $background, 0.14em 0 $background, -0.14em 0 $background, 0.16em 0 $background, -0.16em 0 $background;
  background-position-y: 90%, 90%, 90%;
  background-position-x: 0%, 100%, 0%;
  &:hover {
    color: darken($line-color, 5%);
  }
}

@mixin cross($direction: left, $length: $base-line-height, $color: $base-accent-color) {
  &:after {
    content: '';
    position: absolute;
    @include transform(rotate(-45deg));
    width: $length;
    top: 50%;
    $direction: -$length;
    height: 1px;
    background: $color;
    @include media($small) {
      display: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    @include transform(rotate(45deg));
    width: $length;
    top: 50%;
    $direction: -$length;
    height: 1px;
    background: $color;
    @include media($small) {
      display: none;
    }
  }
}
