
// Main Navigation
// Site Nav
header[role="main-header"] {
  font-family: $sans-serif;
  width: 100%;
  color: $black;
  font-weight: 500;
  position: relative;
  // -moz-box-shadow:    0px 1px 0px 0px rgba(243,243,243,0.5);
  // -webkit-box-shadow: 0px 1px 0px 0px rgba(243,243,243,0.5);
  // box-shadow:         0px 1px 0px 0px rgba(243,243,243,0.5);
  @include user-select();
  @include media($small) {
    padding: 1em;
  }
  // Logo
  hgroup {
    font-size: 16px;
    letter-spacing: 1px;
    float: left;
    position: relative;
    margin-bottom: 0;
    @include media($small) {
      display: block;
      float: none;
      text-align: center;
      margin-bottom: .5rem;
    }
  }
  a {
    line-height: 90px;
    color: $black;
    @include transition(color .2s $ease-in-out-sine);
    @include media($small) {
      line-height: .5rem;
    }
    &:hover {
      color: $red;
      @include transition(color .2s $ease-in-out-sine);
    }
  }
  nav {
    @extend %container;
    padding: 0 3rem;
    display: block;
    position: relative;
    @include media($small) {
      padding: 0;
    }
    ul {
      float: right;
      margin-bottom: 0;
      margin-top: 0;
      @include media($small) {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: .5rem;
      }
    }
    ul li {
      font-size: 16px;
      letter-spacing: 1px;
      text-align: right;
      display: inline-block;
      position: relative;
      margin-left: 2em;
      &:first-child {
        margin-left: 0;
      }
      // Link Color
      a {
        @include transition(color .2s $ease-in-out-sine);
        &:hover {
          color: $red;
          @include transition(color .2s $ease-in-out-sine);
        } 
      }
    }
  }
}