// Post Page
.post {
  div {
    display: block;
    @include clearfix;
  }
  header.bg-img {
    vertical-align: middle;
    height: $base-line-height*14;
    width: 100%;
    // background-attachment: fixed;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    // @include filter(blur(2px)); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    // -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
    //         box-shadow: inset 0 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);
    // @include transition(-webkit-filter .2s $ease-in-out-quad);
    // @include transition(opacity .4s $ease-in-out-quad);
    // &:hover {
    //   @include filter(blur(0));
    //   @include transition(-webkit-filter .2s $ease-in-out-quad);
    //   &:after {
    //     opacity: 0;
    //     @include transition(opacity .2s $ease-in-out-quad);
    //   }
    // }
    // &:after {
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   background: $white;
    //   opacity: .6;
    //   @include transition(opacity .2s $ease-in-out-quad);
    // }

  }
  .description {
    div {
      line-height: em(28,20);
    }
    color: $medium-gray;
    font-family: $sans-serif;
    margin-bottom: em(6);
    .label {
      @extend %caps-lock;
      color: $light-blue-gray;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: $fs7;
    }
    .tag {
      color: $dark-gray;
      font-weight: 400;
      font-size: ($fs7 + em(1px));
      line-height: 18px;
      padding-left: 10px;
      position: relative;
      text-transform: capitalize;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  article {
    margin-bottom: $base-line-height*2;
    font-family: $longform;
    @include span-columns(12);
    @if $longform == '$ss-alt' {
      letter-spacing: -0.02em;
    }
    header {
      @extend %post-width;
      margin-top: $base-line-height*2;
      margin-bottom: $base-line-height*2;
      h1:first-of-type {
        width: 100%;
        float: none;
        text-transform: capitalize;
        font-weight: 500;
        font-style: normal;
      }
    }
    p {
      @extend %post-width;
    }
    .no-bg-img {
      margin-top: $base-line-height*3;
    }
    img {
      display: block;
      margin: $base-line-height/2 0;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: $base-line-height*20;
    }
    video {
      width: 100%;
      max-width: 800px;
      display: block;
      height: auto;
      margin: $base-line-height auto;
    }
    figure {
      margin: $base-line-height auto;
      figcaption {
        margin: .5rem auto;
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 100;
      }
      &.grid-full {
        @include clearfix();
        display: block;
        width: 100%;
      }
      &.grid-2, &.grid-3, &.grid-4 {
        @include media($small) {
          figcaption {
            display: none;
          }
        }
      }
      &.grid-2 {
        @include span-columns(6);
        figcaption {
          text-align: center;
          width: 100%;
        }
        &+.grid-2 {
          @include omega();
        }
      }
      &.grid-3 {
        @include span-columns(4);
        @include omega(3n);
      }
      &.grid-4 {
        @include span-columns(3);
        @include omega(4n);
        figcaption {
          text-align: center;
          width: 100%;
        }
      }
      &.web {
        margin-top: $base-line-height*2;
        border: 1px solid $base-border-color;
        @include border-top-radius(0px);
        @include border-bottom-radius(0px);
        height: 27em;
        overflow-y: scroll;
        -webkit-box-shadow: /*0 -2em 0 $base-body-color,*/ 0 -2.0375em 1px $base-border-color;
                box-shadow: /*0 -2em 0 $base-body-color,*/ 0 -2.0375em 1px $base-border-color;
        img {
          @include border-top-radius(0);
          @include border-bottom-radius(0);
          width: 100%;
          height: auto !important;
          max-height: none;
        }
      }
      &.iphone {
        width: 328px;
        height: 584px + 96px;
        border: 1px solid $base-border-color;
        @include border-top-radius(2em);
        @include border-bottom-radius(2em);
        padding: 64px 16px;
        padding-bottom: 256px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 48px;
          height: 48px;
          -webkit-border-radius: 24px;
                  border-radius: 24px;
          border: 1px solid $base-border-color;
          left: (328px/2) - 24px;
          bottom: 24px;
        }
        @include media($small) {
          width: 100%;
          height: auto;
          padding: 0;
          border: none;

          &:after {
            display: none;
            border: none;
          }
        }
        img {
          border: 1px solid $base-border-color;
          @include border-top-radius(4px);
          @include border-bottom-radius(4px);
        }
      }
      img {
        margin: 0 auto;
      }
    }
    blockquote {
      position: relative;
      line-height: 1.4;
      &:after {
        content: '';
        position: absolute;
        @include transform(rotate(-45deg));
        width: $base-line-height;
        top: 50%;
        left: -$base-line-height;
        height: 1px;
        background: $base-accent-color;
      }
      &:before {
        content: '';
        position: absolute;
        @include transform(rotate(45deg));
        width: $base-line-height;
        top: 50%;
        left: -$base-line-height;
        height: 1px;
        background: $base-accent-color;
      }
    }
    ul {
      list-style-type: disc;
      @extend %post-width;
      left: 1rem;
      padding-left: $base-line-height/4;
      a {
      color: $red;
      @include underline($base-body-color, $base-accent-color);
      &:hover {
        color: darken($red, 10);
      }
    }
    ol {
      list-style-type: decimal;
      @extend %post-width;
      left: 1rem;
      padding-left: $base-line-height/4;
      a {
      color: $red;
      @include underline($base-body-color, $base-accent-color);
      &:hover {
        color: darken($red, 10);
      }
    }
      }
    }
  }
}

/* Scale up bounce */
.post article p a.strip-style {
  border-radius: none;
  &:hover {
    color: $red;
  }
  &:before {
    display: none;
  }
  // reapply styles
  color: $red;
  @include underline($base-body-color, $base-accent-color);
  &:hover {
    color: darken($red, 10);
  }
}

.about p a, .post p a {
  color: $red;
  vertical-align: bottom;
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  border-radius: $border-radius;
  &:hover {
    color: $white;
  }
}

.about p a::before, .post p a::before {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: -1;
  box-sizing: content-box;
  padding: 0 4px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  @include linear-gradient(135deg, $red 20%, $orange 100%);
  color: $white;
  border-radius: $border-radius;
  content: '';
  opacity: 0;
  @include transition(transform .2s cubic-bezier(0.25,0.25,0.325,1.39), opacity .2s cubic-bezier(0.25,0.25,0.325,1.39));
  @include transform(scale(0));
  @include border-top-radius($border-radius);
  @include border-bottom-radius($border-radius);
}

.about p a:hover::before, .post p a:hover::before,
.about p a:focus::before, .post p a:focus::before {
  @include border-top-radius($border-radius);
  @include border-bottom-radius($border-radius);
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

