// Basic Site Architecture

* {
  @include box-sizing(border-box);

}

html {
  font-size: 100%;
  min-height: 100%;
  position: relative;
  font-weight: normal;
  @include media($small) {
    font-size: 87.5%;
  }
  @include media($medium) {
    font-size: 112.5%;
  }
  @include media($default) {
    font-size: 125%;
  }
  @include media($huge) {
    font-size: 137.5%;
  }
}

body {
  width: 100%;
  padding: 0 0 $footer-height;
  background: $white;
  font-family: $body;
  @if $body == $ss-alt {
    letter-spacing: -0.02em;
  }
  color: $black;
  text-size-adjust: 100%;
  overflow-x: hidden !important;
}

// Basic Elemental Styling

a {
  text-decoration: none;
}

a[data="disabled"] {
  pointer-events: none;
  cursor: default;
}

// Modular Bits to Extend

%liga {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.hidden {
  display: none;
}

// Extensions for Structure

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Site Architecture */

%container {
  @include outer-container();
  // Big Screens
  // Tablet
  margin: 0 auto;
  @include media($small) {
    padding: 0 0;
  }
  @include media($medium) {
    padding: 0 .5em;
  }
}

.full {
  width: 100%;
  min-height: 1px;
  display: block;
  @include clearfix;
}

.wrap {
  @extend %container;
  overflow-x: hidden !important;
  article > header {
    margin-top: 3em;
  }
}

@import "navigation";
@import "home-page";
@import "posts";
@import "listing";
@import "footer";
@import "about-me";
@import "contact";
