// Basic Site Architecture

* {
  @include box-sizing(border-box);
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden !important;
  @include media($small) {
    font-size: 75%;
  }
  @include media($medium) {
    font-size: 87.5%;
  }
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: $white;
  overflow-x: hidden !important;
}

// Extensions for Structure

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Site Architecture */

%container {
  @include outer-container();
  // Big Screens
  // Tablet
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 0 1em; 
  }
}

.full {
  width: 100%;
  min-height: 1px;
  display: block;
  @include clearfix;
}

.page-wrap {
  min-height: 100%;
  background: $white;
  @include clearfix();
  margin-bottom: -$base-line-height*4; 
  &:after {
    height: $base-line-height*4;
  }
}

.wrap {
  @extend %container;
}

// Actual Semantics


// Main Navigation

// Site Nav
.listing header[role="main-header"] {
  -moz-box-shadow: 0px 1px 0px 0px rgba(243, 243, 243, 0.5);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(243, 243, 243, 0.5);
  box-shadow: 0px 1px 0px 0px rgba(243, 243, 243,0.5);
}
header[role="main-header"] {
  padding: 1em 0;
  font-family: $sans-serif;
  width: 100%;
  z-index: 5000;
  color: $black;
  font-weight: 600;
  position: relative;
  // Logo
  hgroup {
    font-size: .75rem;
    font-family: $sans-serif;
    letter-spacing: 2px;
    @extend %caps-lock;
    float: left;
    position: relative;
    top: 0;
    a {
      height: 2em;
      position: relative;
      img {
        height: 2em;
        width: auto;
      }
    }
  }
  a {
    color: $black;
    @include transition(color .2s $ease-in-out-sine);
    &:before {
      position: absolute;
      top: 100%;
      left: 50%;
      color: transparent;
      content: '•';
      text-shadow: 0 0 transparent;
      font-size: 1.2em;
      -webkit-transition: text-shadow 0.3s, color 0.3s;
      -moz-transition: text-shadow 0.3s, color 0.3s;
      transition: text-shadow 0.3s, color 0.3s;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      pointer-events: none;
    }
    &:hover, &:focus {
      &:before {
        color: $red;
        text-shadow: 10px 0 $red, -10px 0 $red;
      }
      color: $red;
      @include transition(color .2s $ease-in-out-sine);
    }
  }
  nav {
    @extend %container;
    display: block;
    position: relative;
    @media screen and (min-width: 641px) {
      padding: 1em;
    }
    ul {
      float: right;
      margin-bottom: 0;
      margin-top: 0;
    }
    ul li {
      font-size: .75rem;
      font-family: $sans-serif;
      letter-spacing: 2px;
      text-align: right;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      margin-left: em(40);
      &:first-child {
        margin-left: 0;
      }
      // Link Color
      a {
        @include transition(color .2s $ease-in-out-sine);
        &:hover {
          color: $red;
          @include transition(color .2s $ease-in-out-sine);
        } 
      }
    }
  }
}

// Home Page
section[class*="block-"] {
  min-height: em(448);
  position: relative;
  overflow: hidden;
}
// First Block
.block-1 {
    article {
    @extend %container;
    float: none;
    padding: 4em 0;
    position: relative;
    height: 100%;
    font-weight: 500;
  }
  margin-top: em(96);
  background: $white;
  img {
    @include border-top-radius(200px);
    @include border-bottom-radius(200px);
    @include border-left-radius(200px);
    @include border-right-radius(200px);
    @include span-columns(2);
    height: auto;
    @include media($small) {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }
  h1 {
    @extend .h2;
    @include shift(1);
    @include span-columns(5);
    @include omega();
    margin-top: em(16);
    @include media($small) {
      display: block;
      text-align: center;
      @include span-columns(3);
      @include shift(.5);
      @include omega();
    }
  }
}

// Code Block
.block-2 {
    article {
    @extend %container;
    float: none;
    padding: 4em 0;
    position: relative;
    height: 100%;
  }
  background: $red;
  position: relative;
  z-index: 1;
  .hide-code {
    position: relative;
    height: em(16*32);
  }
  h2 {
    position: relative;
    @include span-columns(6);
    z-index: 100;
    text-align: left;
    @extend .h2;
    font-weight: 400;
    color: $white;
    margin-top: em(16*4);
    @include media($small) {
      @include span-columns(3);
      @include shift(.5);
      text-align: center;
    }
    a {
      color: $white;
      padding-bottom: 8px;
      &:hover {
        &:after {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          transform: translateY(0px);
        }
      }
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgba(255,255,255,0.8);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        @include transform(translateY(8px));
      }
    }
  }
  article img {
    position: absolute;
    height: em(720);
    right: -50%;
    z-index: 2;
    top: em(32);
    @include box-shadow(-10px 20px 0px rgba(0,0,0,0.10));
    -webkit-border-radius: 6px;
            border-radius: 6px;
    @include transition(all .2s $ease-in-out-quad);
    &:hover {
      @include animation(hovering 2s $ease-in-out-sine);
      @include animation-iteration-count(infinite);
    }
    @media only screen and (max-width: 640px) {
      display: none;
    }
  }
}

.hide-code #arrow {
  @include triangle(32px, white, down);
  position: absolute;
  bottom: em(32);
  left: 20%;
  @include media($small) {
    left: 48%;
  }
  @include animation(hovering 2s $ease-in-out-cubic);
  @include animation-iteration-count(16);
}

// Work Block
.block-3 {
  z-index: 100;
  background: $white;
  article {
    padding-top: 2em;
    position: relative;
    height: 100%;
  }
  article {
    ul {
      list-style: none;
      list-style-type: none;
    }
    .work-grid {
      margin-bottom: 2em;
      background: $light-gray;
      position: relative;
      text-align: center; 
      z-index: 1;
      @include transition(all .2s $ease-in-out-quad);    
      @include span-columns(2.666666);
      @include omega(3n);
      // @include omega(2n);
      height: em(256);
      @include media($medium) {
        height: em(192);
      }
      @include media($small) {
        height: em(192);
        @include span-columns(4);
        margin-bottom: 0;
      }
      @include media($large) {
        @include span-columns(2.6666);
        @include omega(3n);
        height: em(384);
      }
      &:hover {
        @include transition(all .1s $ease-in-out-quad);
      }
      a {
        width: 100%;
        height: 100%;
        z-index: 10;
        display: block;
        position: relative;
        color: $light-gray;
        background: $white;
        // background: lighten($light-gray, 10%);
        border: 2px solid lighten($light-gray, 8%);
        @include transition(all .2s $ease-in-out-quad);
        // Media
        @include media($medium) {
          background: none;
          color: $white;
          border: none;
        }
        @include media($small) {
          background: none;
          color: $white;
          border: none;
        }
        &:hover {
          color: $white;
          background: none;
          border: none;
          @include transition(all .1s $ease-in-out-quad);
        }
      }
      h1 {
        display: block;
        margin: 0 auto;
        text-align: center;
        position: relative;
        max-width: 90%;
        @extend .h2;
        @extend %liga;
        font-weight: bold;
        @extend %vertical-align;
      } 
    }
  }
}
// Default Page
.wrap {
  article > header {
    margin-top: 4em;
  }
}

// Post Page
.post {
  header.bg-img {
    vertical-align: middle;
    min-height: $base-line-height*8;
    height: 50vh;
    width: 100%;
    max-height: $base-line-height*30;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,.08), inset 0 -2px 0 rgba(0,0,0,.08);
            box-shadow: inset 0 2px 0 rgba(0,0,0,.08), inset 0 -2px 0 rgba(0,0,0,.08);
  }
  .description {
    @extend .h5;
    color: $medium-gray;
    font-family: $sans-serif;
    .label {
      @extend %caps-lock;
      font-size: 1em;
      color: $light-gray;
      letter-spacing: 2px;
      font-weight: 500;
    }
    .tag {
      color: $medium-gray;
      padding-left: 10px;
      position: relative;
      text-transform: capitalize;
      &:after {
        content: ",";
        position: absolute;
        right: -6px;
        color: $medium-gray;
      }
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        &:after {
          content: "";
        }
      }
    }
  }
  article {
    margin-bottom: $base-line-height*2;
    @include span-columns(7);
    @include shift(.5);
    font-family: $serif;
    h1 {
      font-family: $sans-serif;
    }
    h2,h3,h4,h5 {
      font-family: $sans-serif;
    }
    header {
      margin: $base-line-height*2 0;
    }
    img {
      display: block;
      margin: $base-line-height/2 auto;
      width: auto;
      max-width: 100%;
      height: auto;
    }
    figure {
      margin: $base-line-height auto;
      &.web {
      margin-top: $base-line-height*2;
      border: 1px solid $light-gray;
      @include border-top-radius($border-radius);
      @include border-bottom-radius($border-radius);
      height: $base-line-height*20;
      overflow-y: scroll;
      position: relative;
      -webkit-box-shadow: 0 -2em 0 $light-gray;
              box-shadow: 0 -2em 0 $light-gray;
      }
      &.iphone {
        width: 328px;
        height: em(584px) + 6em;
        border: 1px solid $light-gray;
        @include border-top-radius(2em);
        @include border-bottom-radius(2em);
        padding: 4em 1em;
        padding-bottom: 6em;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 3em;
          height: 3em;
          -webkit-border-radius: 1.5em;
                  border-radius: 1.5em;
          border: 1px solid $light-gray;
          left: (em(328px)/2) - 1.5em;
          bottom: 1.5em;
        }
        img {
          border: 1px solid $light-gray;
          @include border-top-radius(4px);
          @include border-bottom-radius(4px);
        }
      }
      img {
        margin: 0 auto;
      }
    }
    blockquote {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        @include transform(rotate(-45deg));
        width: $base-line-height;
        top: 50%;
        left: -$base-line-height*2;
        height: 1px;
        background: $light-gray;
      }
      &:before {
        content: '';
        position: absolute;
        @include transform(rotate(45deg));
        width: $base-line-height;
        top: 50%;
        left: -$base-line-height*2;
        height: 1px;
        background: $light-gray;
      }
    }
    ol {
      list-style-type: decimal;
      margin-bottom: $base-line-height / 2;
      padding-left: $base-line-height;
    }
    ul {
      list-style-type: disc;
      margin-bottom: $base-line-height / 2;
      padding-left: $base-line-height;
    }
  }
}

.listing {
  article {
    margin-bottom: 0;
    header {
      margin: 4em auto;
      @extend %container;
    }
  }
  .work-listing {
    list-style-type: none;
    list-style: none;
    text-align: center;
    li {
      list-style-type: none;
      list-style-type: none;
      background: $light-gray;
      &:first-of-type {
        background: $white;
        color: $black;
        width: 100%;
        height: 100%;
        display: block;
        padding: 4em;
        position: relative;
        text-transform: capitalize;
      }
    }
    h1 {
      font-size: $fs1;
      font-family: $sans-bold;
      font-weight: bold;
      font-variant: normal;
      display: block;
      @extend %container;
      max-width: 800px;
      margin: 0 auto;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 4em;
      position: relative;
      color: $white;
      @include transition(all .15s $ease-in-out-quad);
      &:hover {
        background: $white;
        color: $black;
        @include transition(all .3s $ease-in-out-quad);
      }
    }
  }
}

footer {
  @extend .full; 
  text-align: center;
  padding: 1em 0; 
  width:100%;
  height: $base-line-height*4;
  background: $real-black;
  position: relative;
  color: $white;
  small {
    display: block;
    @extend %caps-lock;
    @extend %vertical-align;
    color: $white;
    opacity: .2;
  }
}
