// Typography
///////////////////////////////////////////////////////////////////////////////

body {
  color: $base-font-color;
  font-family: $head;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,.h1 ,%h1, h2, .h2,%h2, h3, .h3,%h3, h4, h5, h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h5,h6 {
  font-family: $base-font-family;
  font-variant: small-caps;
}

h1,.h1,%h1 {
  font-size: $fs1; // 20 * 2.25 = 45px
  line-height: 1.2em;
  margin-bottom: .25em;
}

h2,.h2,%h2 {
  font-size: $fs2; // 20 * 2 = 40px
  line-height: 1.2em;
  margin-bottom: .33em;
}

h3,.h3,%h3 {
  font-size: $fs3; // 20 * 1.75 = 35px
  line-height: 1.3em;
  margin-bottom: .25em;
}

h4,.h4,%h4 {
  font-size: $fs4; // 20 * 1.5 = 30px
  line-height: 1.4em;
  margin-bottom: em(8, 20);
}

h5,.h5,,%h5 {
  font-size: $fs5; // 20 * 1.25 = 25px
  line-height: 1.4em;
  margin-bottom: em(5, 20);
}

h6 {
  font-size: $base-font-size;
  @extend %caps-lock;
}

p {
  margin: 0 0 ($base-line-height * .5);
  -ms-word-break: break-all;
      word-break: break-all;
  
  /* Non standard for webkit */
      word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
  margin-top: $base-line-height - em(1);
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  margin-left: $base-line-height;
  padding-left: $base-line-height;
}

small {
  font-size: $fs8;
  display: block;
  @extend %caps-lock;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

/* Copy
   ========================================================================== */

%intro {  font-size: $fs3; }
%copy {   font-size: $fs4; }

// article p:first-of-type {
//   @extend %intro;
// }



/* Casing
   ========================================================================== */

%caps-lock  { text-transform:uppercase; }
%title-casing { text-transform:capitalize; }



/* Tracking
   ========================================================================== */

%title      {
  letter-spacing:0.1em;
  text-transform:uppercase;
}

/* Alignment
   ========================================================================== */

%ar         { text-align: right;  }
%al         { text-align: left;   }
%ac,
%ct         { text-align: center; }



/* Wrapping
   ========================================================================== */

%nw    { white-space:nowrap; }



/* Leading
   ========================================================================== */

%lh-1       { line-height:1; }
%lh-2       { line-height:2; }
%lh-title   { line-height:1.3; }
%lh-copy    { line-height:1.6; }

// p + p {
//   margin-top: $line-height;
// }

// article {
//   p ~ h2, p~.h2, p ~ h3,.h3, p ~ h4, p ~ h5 {
//     margin-top: $line-height;
//   }
// }
  

/* Article Headings
   ========================================================================== */
   
.post {
  article {
    &:first-child {
        margin-top: 0;
      }
    h1,.h1,h2,.h2,h3,.h3,,h4,h5 {
      font-weight: normal;
      margin-top: $base-line-height;
      
    }
  }
}