// Typography
///////////////////////////////////////////////////////////////////////////////

body {
  color: $base-font-color;
  font-family: $head;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1,%h1, h2,%h2, h3,%h3, h4,%h4, h5,%h5, h6,%h6 {
  font-family: $header-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h5, %h5, h6, %h6 {
  font-family: $sans-serif;
  @if $head == '$ss-alt-head' {
    font-weight: 600;
  }
}

h1, %h1 {
  font-size: $fs1; // 20 * 2.25 = 45px
  line-height: 1.1em;
  margin-bottom: .42em;
}

h2, %h2 {
  font-size: $fs3; // 20 * 1.75 = 35px
  line-height: 1.25em;
  margin-bottom: .35em;
  // font-size: $fs2; // 20 * 2 = 40px
  // line-height: 1.15em;
  // margin-bottom: .34888em;
}

h3, %h3 {
  font-size: $fs4; // 20 * 1.5 = 30px
  line-height: 1.35em;
  margin-bottom: em(17.5, 20);
  // font-size: $fs3; // 20 * 1.75 = 35px
  // line-height: 1.25em;
  // margin-bottom: .35em;
}

h4, %h4 {
  font-size: $fs5; // 20 * 1.25 = 25px
  line-height: 1.5rem;
  // font-size: $fs4; // 20 * 1.5 = 30px
  // line-height: 1.35em;
  // margin-bottom: em(17.5, 20);
}

h5, %h5 {
  font-size: $fs6; // 20 * 1.25 = 25px
  line-height: 1.5rem;
}

h6, %h6 {
  font-size: $fs7;
  @extend %caps-lock;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  @extend %caps-lock;
  font-style: normal;
  font-weight: bold;
  margin-top: 1.5rem;
  letter-spacing: 0.1em;
}

figcaption {
  @extend %h6;
  opacity: .5;
}

p + p {
  margin-top: $base-line-height;
}

hr {
  display: block;
  width: 100%;
  height: 2px;
  border: none;
  background: $light-gray;
  margin-top: ($base-line-height - 1) auto;
  margin-bottom: ($base-line-height - 1) auto;
}

.post hr {
  @extend %post-width;
}

h6 + hr {
  margin-top: -1px;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

del {
  color: transparentize($base-font-color, .33);
}

sup{
  vertical-align: super;
  font-style: $fs7/1.5;
}

blockquote , .post article blockquote {
  font-style: normal;
  margin: $base-line-height 0;
  margin-left: $base-line-height/2;
  padding-left: $base-line-height/2;
  @include span-columns(11);
  @include shift(.5);
  font-size: $fs5;
  z-index: 100;
  p {
    width: 100%;
    float: none;
    display: block;
    padding-left: $base-line-height;
    margin: 0;
    margin-top: $base-line-height;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

small {
  font-size: $fs8;
  display: block;
  @extend %caps-lock;
}

em {
  font-style: italic;
  letter-spacing: -0.01em;
}

b {
  font-weight: bold;
  letter-spacing: -0.04em;
}

.hilite {
  background: transparentize($yellow, .66);
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

// Color
span.accent {
  color: $base-accent-color;
}

pre {
  font-family: monospace;
  padding: .5rem 1rem;
  background: $black;
  color: $white;
  overflow: scroll;
  margin: 1rem auto;
  max-width: 100%;
	code {
		padding: 0;
		background:none;
		max-width: 100%;
		display: block;
	}
}

code {
	font-family: monospace;
	padding: .4rem .5rem;
	background: $black;
	color: $white;
	&::selection {
		background-color: $white !important;
    color: $black !important;
	}
}

code::selection {
  background-color: $white !important;
  color: $black !important;
}

div.highlight {
	display: block;
	font-family: monospace;
	padding: .5rem 1rem;
	background: $black;
	color: $white;
	margin: 1rem auto;
	max-width: 100%;
  &::selection {
    background-color: $white !important;
    color: $black !important;
  }
  pre::selection {
    background-color: $white !important;
    color: $black !important;
  }
  code::selection {
    background-color: $white !important;
    color: $black !important;
  }
  .p::selection {
  	background-color: $white !important;
    color: $black !important;
  }
}

/* Copy
   ========================================================================== */

%intro {  font-size: $fs3; }
%copy {   font-size: $fs4; }

// article p:first-of-type {
//   @extend %intro;
// }


// widths
%post-width {
  @include span-columns(8 of 12);
  @include shift(2);
  float: none;
  position: relative;
  @include media($small) {
    @include span-columns(12 of 12);
    @include shift(0);
  }
}

/* Casing
   ========================================================================== */

%caps-lock  { text-transform:uppercase; }
%title-casing { text-transform:capitalize; }



/* Tracking
   ========================================================================== */

%title      {
  letter-spacing:0.1em;
  text-transform:uppercase;
}

/* Alignment
   ========================================================================== */

%ar         { text-align: right;  }
%al         { text-align: left;   }
%ac,
%ct         { text-align: center; }



/* Wrapping
   ========================================================================== */

%nw    { white-space:nowrap; }



/* Leading
   ========================================================================== */

%lh-1       { line-height:1; }
%lh-2       { line-height:2; }
%lh-title   { line-height:1.3; }
%lh-copy    { line-height:1.6; }

// p + p {
//   margin-top: $line-height;
// }

// article {
//   p ~ h2, p~.h2, p ~ h3,.h3, p ~ h4, p ~ h5 {
//     margin-top: $line-height;
//   }
// }


/* Article Headings
   ========================================================================== */

.post {
    &:first-child {
        margin-top: 0;
      }
    h1 {
      font-weight: 400;
      @extend %post-width;
      margin-left: 0;
      margin-right: 0;
    }
    h2,%h2,h3,%h3,h4,%h4,h5,%h5, {
      font-weight: normal;
      margin-top: 1.5rem;
      @extend %post-width;
    }
    h6, %h6 {
      @extend %post-width;
      @extend %caps-lock;
      font-style: normal;
      font-weight: bold;
      margin-top: 1.5rem;
      letter-spacing: 0.1em;
    }
}
