// Typography
///////////////////////////////////////////////////////////////////////////////

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}


// Headers
   ///////////////////////////////////////////////////////////////////////////////

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
  font-family: $head;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1,.h1 { 
  font-size: $fs1;
  line-height: 1.125em;
  margin-bottom: .375em;
}

h2,.h2 {      
  font-size: $fs2; 
  line-height: 1.333333333333em;
  margin-bottom: .666666666em;
} 

h3,.h3 {      
  font-size: $fs3; 
  line-height: 1em;
  margin-bottom: 1em;
}

h4,.h4 {      
  font-size: $fs4; 
  line-height: 1.142857142857143em;
  margin-bottom: 1.142857142857143em;
} 

h5,.h5 {      
  font-size: $fs5; 
  line-height: 1.3333333333333em;
  margin-bottom: 1.333333333333333em;
}

h6,.h6 {      
  font-size: $fs6; 
  line-height: $line-height;
} 

p {
  margin: 0 0 ($base-line-height * .5);
}

blockquote {
  font-style: italic;
}

small {
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

hr {
  border-bottom: 1px solid $base-border-color;
  display: block;
  border-left: none;
  width: 100%;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

// Copy
///////////////////////////////////////////////////////////////////////////////

%intro {  font-size: $fs3; }
%copy {   font-size: $fs4; }

// article p:first-of-type {
//   @extend %intro;
// }

// Modular Bits to Extend

%liga {
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}



// Casing
///////////////////////////////////////////////////////////////////////////////

%caps-lock  { text-transform:uppercase; }
%title-casing { text-transform:capitalize; }



// Tracking
///////////////////////////////////////////////////////////////////////////////

%title      {
  letter-spacing:0.1em;
  text-transform:uppercase;
}

// Alignment
///////////////////////////////////////////////////////////////////////////////

%ar         { text-align: right;  }
%al         { text-align: left;   }
%ac,
%ct         { text-align: center; }



// Wrapping
///////////////////////////////////////////////////////////////////////////////

%nw    { white-space:nowrap; }



// Leading
///////////////////////////////////////////////////////////////////////////////

%lh-1       { line-height:1; }
%lh-2       { line-height:2; }
%lh-title   { line-height:1.3; }
%lh-copy    { line-height:1.6; }


// Article Headings
///////////////////////////////////////////////////////////////////////////////
   
.post {
  article {
    h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
      font-weight: bold;
    }
  }
}