// Typography
///////////////////////////////////////////////////////////////////////////////

$sans-serif: "GT Walsheim","Futura PT", "Futura", "Helvetica Neue", sans-serif;
$serif: "Adobe Garamond Pro","Georgia", serif;
$ss-alt: "Karla", "Futura," "Avenir Next";
$mono: "Inconsolata", "Menlo";

$head: $sans-serif;
$body: $sans-serif;
$longform: $sans-serif;

$base-font-family: $sans-serif;
$header-font-family: $sans-serif;


// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$line-height: $base-line-height;

// Footer Height
$footer-height: 9em;


// Border Radii
///////////////////////////////////////////////////////////////////////////////
$base-border-radius: 2px;
$border-radius: $base-border-radius;

// Transitions
///////////////////////////////////////////////////////////////////////////////
$base-transition-timing: cubic-bezier(0.25,0.25,0.325,1.39);

// Type Scale
///////////////////////////////////////////////////////////////////////////////

$fs1: 2.25em; // 45px
$fs2: 2em; // 40px
$fs3: 1.75em; // 35px
$fs4: 1.5em; // 30px
$fs5: 1.25em; // 25px
$fs6: 1em; // 20px
$fs7: .7em; // 15px
$fs8: .6em; // 12px

// Colors
///////////////////////////////////////////////////////////////////////////////

// Cool

$purple: #6F4993;
$aqua:  #7FDBFF;
$blue:  #0074D9;
$soft-blue: desaturate($blue, 70%);
$light-soft-blue: transparentize($soft-blue, .25);
$navy:  #001F3F;
$blue-black: #282e42;
$blue-gray: #4A4C52;
$light-blue-gray: lighten($blue-gray, 50%);
$off-blue-black: saturate($blue-gray, 10%);
$mid-blue-black: lighten($blue-gray, 25%);
$light-blue-black: lighten($blue-black, 50%);
$teal:  #39CCCC;
$green: desaturate(#00c64b, 20%);

// Warm

$yellow:  #FFDC00;
$orange:  #f4ab88;
$fuchsia: #F012BE;
$maroon:  #85144B;
$red: #EC6F66;

// Ebony and Ivory
$black:  $blue-gray;
$white: #ffffff;

// Others
$real-black: #232830;
$dark-gray: lighten($black, 32%);
$medium-gray: lighten($black, 48%);
$red-gray: #ebebea;
$light-gray: lighten($black, 60%);
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// White
$off-white: darken(#ffffff, 1%);


// Body Color
$base-body-color: $white;
//  Font Colors
$base-font-color: $black;
$base-accent-color: $red;
//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 5);
// Border color
$base-border-color: $light-gray;