// Typography
///////////////////////////////////////////////////////////////////////////////

$sans-serif: "europa", "Futura", "Helvetica Neue", sans-serif;
$sans-light: $sans-serif;
$sans-medium: $sans-serif;
$sans-bold: $sans-serif;
$serif: "Born", "Georgia";
$serif-alt: "adobe-caslon-pro", "Garamond";
$mono: "Aften Trio";

$base-font-family: $sans-serif;
$head: $sans-serif;
$body: $sans-serif;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1.125em;
$base-line-height: $base-font-size * 1.5;
$line-height: $base-line-height;


// Border Radii
///////////////////////////////////////////////////////////////////////////////
$border-radius: 2px;


// Type Scale - I always need a type-scale
///////////////////////////////////////////////////////////////////////////////

/** * 16 as roots then powers of two. */

$fs1: $base-font-size * 2.25; // 36px
$fs2: $base-font-size * 2; // 32px
$fs3: $base-font-size * 1.75; // 24px
$fs4: $base-font-size * 1.5; // 24px
$fs5: $base-font-size * 1.25; // 20px
$fs6: 1em; // 16px?
$fs7: .75em;

// Line Height

// Colors
///////////////////////////////////////////////////////////////////////////////

// Cool

$purple: #6F4993;
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$blue-black: #282e42;
$teal:  #39CCCC;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$fuchsia: #F012BE;
$maroon:  #85144B;
$red: #EC6F66;

// Ebony and Ivory
$black:  #453939;
$white: #fefefe;
$off-white: darken(#ffffff, 1%);

// Bitters
$real-black: #232830;
$dark-gray: lighten($black, 20%);
$medium-gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;



// Default Element Colors
$base-font-color: $black;
$base-border-color: $light-gray;
$base-link-color: $red;
$hover-link-color: darken($red, 10%)