$visual-grid: false !default; // Display the base grid
$visual-grid-color: red !default;
$visual-grid-index: front !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.25 !default;
$visual-grid-breakpoints: () !default;
