<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body class="about">
    <div class="page-wrap">
      {% include _navigation_main.html %}
       <section class="wrap">
            <aside>
              <div class="profile-wrap">
                <img src="/images/assets/monochrome-profile.png" alt=""><span class="border"></span>
<!--                 <div class="profile"></div>
 -->              </div>
              <ul class="profile-links">
                <hr>
                <li><a href="http://twitter.com/{{site.twitter}}"><small>@{{site.twitter}}</small></a></li>
                <li><a href="#"><small>{{site.email}}</small></a></li>
                <li>{% if site.work_status contains 'unavailable' %} <span class="red-marker"></span> {%else %} <span class="green-marker"></span> {% endif %}<a data="disabled" href="#"><small>{{site.work_status}}</small></a></li>
                <hr>
                <li><a href="#"><small>Fun Link 1</small></a></li>
                <li><a href="#"><small>Fun Link 2</small></a></li>
                <li><a href="#"><small>Fun Link 3</small></a></li>
              </ul>
            </aside>
            <aside>
              {{ content }}
            </aside>
        </section>
    </div>
    {% include _footer.html %}
  </body>
</html>
