<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body class="about">
    <div class="page-wrap">
      {% include _navigation_main.html %}
       <section class="wrap">
          <article>
            <header>
              <h3>I create visual solutions with <em>personality</em>.</h3>
              <div class="profile-wrap"><div class="profile"></div></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, vitae ullam iusto itaque enim optio pariatur maxime qui repudiandae incidunt. Architecto, vero est blanditiis? Deleniti, voluptate, eveniet, commodi, accusantium delectus dolore rem nihil culpa numquam minima illo dolor quo saepe animi voluptatem nulla consequatur repellendus assumenda cupiditate alias? Incidunt, iure ipsum odit dolorum placeat aliquam non molestias itaque. Mollitia, maiores?</p>
            </header>

          </article>
        </section>
    </div>
    {% include _footer.html %}
  </body>
</html>
