<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body class="about">
    <div class="page-wrap">
      {% include _navigation_main.html %}
       <section class="wrap">
            <aside>
              <div class="profile-wrap">
                <img src="/images/assets/monochrome-profile.png" alt=""><span class="border"></span>
<!--                 <div class="profile"></div>
 -->              </div>
              <ul class="profile-links">
                <hr>
                <li><a href="http://twitter.com/{{site.twitter}}"><small>@{{site.twitter}}</small></a></li>
                <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%63%6F%6C%65%40%74%77%6E%73%6E%64%2E%63%6F"><small>Email</small></a></li>
                <li>{% if site.data.work_status contains 'unavailable' %} <span class="red-marker"></span> {%else %} <span class="green-marker"></span> {% endif %}<small class="work-status">{{site.data.work_status}}</small></li>
                <hr>
                {% for link in site.data.links %}
                <li><a data-no-instant href="{{ link.url }}"><small>{{ link.title }}</small></a></li>
                {% endfor %}
              </ul>
            </aside>
            <aside>
              {{ content }}
            </aside>
        </section>
    </div>
    {% include _footer.html %}
  </body>
</html>
