<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body>
    <div class="page-wrap">
      {% include _navigation_main.html %}
      <section class="wrap">
        <article>
            <header>
             <h1>{{ page.title }}</h1>
             {% if page.subtitle %}
              <h2>{{ page.subtitle }}</h2>
             {% endif %}
           </header>
           
           {{ content }}
        </article>
      </section>
    </div>
    {% include _footer.html %}
  </body>
</html>
