<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body>
    <div class="page-wrap">
      {% include _navigation_main.html %}
      <section class="full block-1">
        <article>
          <h1>Hi, I'm Cole, a web and visual designer.</h1>
          <p>
            I have a passion for clean and intuitive solutions and I create beautiful, useful interfaces and websites. <del>Let's work together!</del> <!-- <a href="#">&#8620;</a> --> 
            <br> 
            Sorry, I'm currently unavailable. Stick around and take a peak anyway. <a href="/work">&#8620;</a>
          </p>
        </article>
      </section>
      <section id="work" class="block-2">
        <article class="full">
          <h2 class="work-title">Selected Works</h2>
          <ul>
          {% for post in site.posts %}
            {% if post.categories contains 'work' %}
                <li class="work-grid" style="background:{% if post.brand-color %}{{ post.brand-color}}{% else %}#EFEFEF{% endif %};">
                  <a href="{{ site.url }}{{ post.url }}">
                    <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
                  </a>
                </li>
            {% endif %}
          {% endfor %}
          </ul>
        </article>
      </section>
    </div>
    {% include _footer.html %}
  </body>
</html>
