<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="home">
    {% include _navigation_main.html %}
    <section class="full block-1">
      <article>
        <p>
          Cole Townsend is a visual designer. He works in a variety of media with emphasis on web and iOS. He has a passion for clean and intuitive solutions.
          {% if site.data.work_status contains 'unavailable' %}
          He is currently unavailable for work, but encourages you to take a look and contact him. <a class="low-key-link" href="#work">&#8620;</a>
          {% else %}
          He is currently available for work.<a class="low-key-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%63%6F%6C%65%40%74%77%6E%73%6E%64%2E%63%6F">&#8620;</a>
          {% endif %}
        </p>
      </article>
    </section>
    <section id="work" class="block-2">
      <article class="full">
        <ul>
        {% for post in site.posts limit:9 %}
          {% if post.categories contains 'work' %}
              {% if post.image.feature %}
                <li class="work-grid">
                  <span class="colorize" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#EFEFEF{% endif %};"></span>
                  <span class="project" style="background-image: url({{ site.url }}/images/posts/{{ post.image.feature }});"></span>
                  <a href="{{ site.url }}{{ post.url }}">
                    <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
                  </a>
              </li>
              {% else %}
                <li class="work-grid" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#EFEFEF{% endif %};">
                  <a class="shown" href="{{ site.url }}{{ post.url }}">
                    <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
                  </a>
                </li>
              {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </article>
    </section>
    {% include _footer.html %}
  </body>
</html>
