<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body class="listing">
    <div class="page-wrap">
      {% include _navigation_main.html %}
      <section class="full">
        <article class="full">
            <ul class="work-listing">
              <li class="list-head">
                <h1>Journal</h1>
              </li>
            {% for post in site.posts %}
              {% if post.categories contains 'journal' %}
                <li class="work-rectangle" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}I{% endif %};">
                  <a href="{{ site.url }}{{ post.url }}">
                    <h1>{{ post.title }}</h1>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </section>
        </article>
      </section>
    </div>
    {% include _footer.html %}
  </body>
</html>
