<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body class="post">
    {% include _navigation_main.html %}
    {% if page.image.feature %}
    <header class="full bg-img" style="background-image: url({{ site.url }}/images/posts/{{ page.image.feature }})">
    </header>
    <section class="wrap">
      <article>
        <header >
          <h1>{{ page.title }}</h1>
          <div class="description">
            <div><span class="label">Role&#58;</span><span class="tag">{{page.role}}</span></div>
            <div>
              <span class="label">Responsibility&#58;</span>
              <span>{% for tag in page.tags%}<span class="tag">{{tag}}</span>{% endfor %}</span>
            </div>
          </div>
        </header>
        {{ content }}
      </article>
    </section>
          
    {% else %}
    <section class="wrap">
      <article>
        <header class="no-bg-img">
          <h1>{{ page.title }}</h1>
          <div class="description">
            <div><span class="label">Role&#58;</span><span class="tag">{{page.role}}</span></div>
            <div>
              <span class="label">Responsibility&#58;</span>
              <span>{% for tag in page.tags%}<span class="tag">{{tag}}</span>{% endfor %}</span>
            </div>
        </header>
        {{ content }}
      </article>
    </section>
    {% endif %}
    {% include _footer.html %}
  </body>
</html>
