<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="post">
    {% include _navigation_main.html %}
		{% if page.image.feature %}
    <header class="full bg-img" data-src="{{ site.url }}/images/posts/{{ page.image.feature }}" {% if page.image.feature_2x %} data-2x="{{ site.url }}/images/posts/{{ page.image.feature_2x }}" {% else %} data-2x="{{ site.url }}/images/posts/{{ page.image.feature }}" {% endif %}>
    </header>
    <section class="wrap">
      <article data-no-instant>
        <header >
          <h1>{{ page.title }}</h1>
        </header>
        {{ content }}
      </article>
    </section>

    {% else %}
    <section class="wrap">
      <article data-no-instant>
        <header >
          <h1>{{ page.title }}</h1>
        </header>
        {{ content }}
      </article>
    </section>
    {% endif %}
    {% include _footer.html %}
  </body>
</html>
